

@args() {
	ArrayList<electronicticketingsystem.model.util.sale.SaleLineItem> items
}  

<!DOCTYPE html>
<html>
<head>
<!-- Meta tags -->
<title>Your shopping cart</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<style>
		body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
</style>
</head>

<body>
<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Menu</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</button>
  <a href="/" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
  <a href="/purchase" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
  <a href="https://github.com/IngSW-unipv/Progetto-J21" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact Us</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>Electronic Ticketing System</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">View your cart and continue to checkout!</h1>
  <br><br>
  </div>
</header>
  
  <div class="w3-container w3-padding w3-half">
      <h2>Shopping Cart</h2>
      <table class="w3-table-all w3-card-2 w3-white">
      <thead>
	      <tr>
	        <th>Ticket ID</th>
	        <th>Quantity</th>
	        <th class="w3-center">Price</th>
	        <th><a href="/purchase" class="w3-btn w3-grey w3-text-white">+ Add another item</a></th>
	      </tr>
	  </thead>
	  <tbody>
	 
			@for (electronicticketingsystem.model.util.sale.SaleLineItem it: items) {
			<tr> 
				<td>@(it.getTicketID())</td>
				<td>1+@(it.getSubTotal())</td> 
				<td>@(it.getSubTotal())</td>
			</tr>
		}

		</tbody>
    </table><br>
    <a href="/purchase" class="w3-theme w3-button">Continue shopping</a>
   </div>
   
  <div class="w3-container w3-padding w3-half">
      <h2>Payment</h2>
      <div class="w3-card-2 w3-white w3-padding">
      <label for="fname">Accepted Cards:</label>
      <div>
        	<i class="fa fa-cc-visa" style="color:navy;font-size:40px"></i>
        	<i class="fa fa-cc-amex" style="color:blue;font-size:40px"></i>
       		<i class="fa fa-cc-mastercard" style="color:red;font-size:40px"></i>
            <i class="fa fa-cc-discover" style="color:orange;font-size:40px"></i>
      </div><br>
            <label for="cname">Name on card:</label><br>
            <input class="w3-input w3-border w3-hover-red" type="text" id="cname" name="cardname" placeholder="Mario Rossi"  style="width:30%"><br>
            <label for="ccnum">Credit card number:</label>
            <input class="w3-input w3-border w3-hover-red" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" style="width:30%"><br>
            <label for="expmonth">Expiration date:</label>
            <input class="w3-input w3-border w3-hover-red" type="month" id="expmonth" name="expmonth" placeholder="01/01" style="width:30%"><br>
            <label for="cvv">CVV</label><br>
            <input class="w3-input w3-border w3-hover-red" type="text" id="cvv" name="cvv" placeholder="352" style="width:30%"><br>
            </div><br>
            <input type="submit" value="Continue to checkout" class="w3-btn w3-red">
   </div>

 <!-- Footer -->
<footer class="w3-white w3-container w3-padding">
  <p class="w3-center" style="margin-top:75px">Powered by <a href="https://github.com/IngSW-unipv/Progetto-J21" title="Gruppo-J21" target="_blank" class="w3-hover-opacity">Gruppo-J21</a></p>
</footer>

<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

</script>

</body>
</html>