@args {
String time
}
<!DOCTYPE html>
<html>
<head>
<!-- Meta tags -->
<title>Expiration Time</title>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<style>
		body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
</style>
</head>
<body>
<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Menu</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</button>
  <a href="/" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
  <a href="https://github.com/IngSW-unipv/Progetto-J21" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact Us</a>
</nav>
<!-- Header -->
<header class="w3-display-container w3-centered w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>Electronic Ticketing System</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom ">Validation successfully completed!</h1>
  <br><br>
  </div>
</header>
<br>
<div class="w3-container w3-center w3-padding">
<i class="fa fa-bus w3-margin-bottom w3-margin-top w3-text-theme" style="font-size:180px"></i><br><br>  
<h2>Your ticket will expire at @time</h2>
<br><br>
<a href="/" class="w3-btn w3-red w3-round-xxlarge"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
</div>
  <br>
<!-- Footer -->
<footer class="w3-light-grey w3-container w3-padding">
  <p class="w3-center" style="margin-top:15px">Powered by <a href="https://github.com/IngSW-unipv/Progetto-J21" title="Gruppo-J21" target="_blank" class="w3-hover-opacity">Gruppo-J21</a></p>
</footer>

<script>
// Side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "100%";
  x.style.fontSize = "40px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

</script>
</body>