 <!DOCTYPE html>
 <html lang="en">
 <head>
 <!-- Meta tags -->
 <meta charset="UTF-8" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
 <!-- vedi https://getbootstrap.com/docs/3.3/components/ -->
 
 <!-- Titolo della scheda -->
 <title>Purchase your tickets!</title>
 
 <style>
    /* Rimozione bordi arrotondati */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #F1F1F1;
      
    }
    /* Rimozione margine inferiore del jumbotron*/
     .jumbotron {
      margin-bottom: 0;
      background-color: #4682B4;
      color:#F1F1F1;
    }
    /* Immagini centrate all'interno del blocco*/
    img {
  	  display: block;
 	  margin-left: auto;
 	  margin-right: auto;
 	  width: 40%;
}
    /* Stile del footer (come in home.html) */
    footer {
      background-color: #555;
      color: white;
      padding: 15px; 
	}

 </style>
 </head>
 <body>
 
 <!-- Header principale -->
 <div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Purchase your <b> travel document</b>! </p>
  </div>
</div>

 <!-- Barra di navigazione superiore -->
 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href=""><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;Shop</a></li> 
        <li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Cart</a></li>
        <li><a href="https://github.com/IngSW-unipv/Progetto-J21"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Return to the home page</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>

<!-- Pannelli contenenti informazioni sintetiche sul tipo di biglietto e ottone per scegliere quantità -->
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center"><b>SINGLE RIDE TICKET:</b></div>
        <div class="panel-body"><img src="webapplication_img/single_ride.jpg" class="img-responsive" alt="Single Ride"></div>
        <div class="panel-footer">Buy a <b>single ride ticket</b> for 1.40€ <br> </div>
      </div>
      <form>
 	 <label for="qty_sr"> Quantity (10 max): </label>
 	 <input type="number" id="qty_sr" name="qty_sr" min="0" max="10">
 	 <br>
 	 <br>
 	 <input type="submit" value="Shop Now!" class="btn btn-primary">
	 <input type="reset" value="Reset" class="btn btn-danger">
 	</form>
	</div>
    <div class="col-sm-4"> 
       <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center"><b>CARNET:</b></div>
        <div class="panel-body"><img src="webapplication_img/carnet.jpg" class="img-responsive" alt="Carnet"></div>
        <div class="panel-footer">Buy a <b>carnet</b> of 10 tickets for 35.50€ <br> </div>
      </div>
      <form>
 	 <label for="qty_sr"> Quantity (10 max): </label>
 	 <input type="number" id="qty_sr" name="qty_sr" min="0" max="10">
 	 <br>
 	 <br>
 	 <input type="submit" value="Shop Now!" class="btn btn-primary">
	 <input type="reset" value="Reset" class="btn btn-danger">
 	</form>
      </div>
     <div class="col-sm-4"> 
       <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center"><b>BUS PASS:</b></div>
        <div class="panel-body"><img src="webapplication_img/bus_pass.jpg" class="img-responsive" alt="Single Ride"></div>
        <div class="panel-footer">Buy a <b>bus pass</b> for 12.00€ <br> </div>
      </div>
      <form>
 	 <label for="qty_sr"> Quantity (10 max): </label>
 	 <input type="number" id="qty_sr" name="qty_sr" min="0" max="10">
 	 <br>
 	 <br>
 	 <input type="submit" value="Shop Now!" class="btn btn-primary">
	 <input type="reset" value="Reset" class="btn btn-danger">
 	 </form>
   </div>
  </div>
  </div>
<br>



 </body>
 </html>